body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    color: hsl(0, 0%, 100%);
    margin: 5%;
}

p {
    color: hsl(217, 12%, 63%);
    margin: 5%;
    font-size; 15px;
}

#container {
    margin: auto;
    width: 375px;
    border: solid;
    border-radius: 15px;
    background: linear-gradient(hsl(213, 19%, 18%),hsl(216, 12%, 8%))
}