body {
    background-color: hsl(216, 12%, 8%);
    display: grid;
    margin: 0;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(216, 12%, 54%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.8em;
}

p {
    /* color: hsl(217, 12%, 63%); */
}

button {
    width: 98%;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.star {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
    border-radius: 2.75rem;
    background-color: hsl(213, 19%, 18%);
}

#rating {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    margin: 1.25em 0;
    /* border: solid; */
}

#container {
    margin: auto;
    width: 325px;
    padding: 2em;
    border-radius: 1.75rem;
    background: linear-gradient(hsl(213, 19%, 15%),hsl(216, 12%, 12%))
    ;
}

#thankyou {
    display:none;
}