body {
    background-color: hsl(216, 12%, 8%);
    display: grid;
    margin: 0;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: hsl(216, 12%, 54%);
    place-items: center;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.8em;
}

h2 {
    color: hsl(0, 0%, 100%);
}

button {
    width: 98%;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
}

button:hover{
    background-color:white;
    color: hsl(25, 97%, 53%);
}

.star {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
    border-radius: 2.75rem;
    background-color: hsl(213, 19%, 18%);
}

.star.selected{
    background-color: hsl(217, 12%, 63%);
    color: white;
}

#rating {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    margin: 1.25em 0;
}

#rating .star:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
}

#container {
    margin: 1em;
    width: 325px;
    height: 300px;
    padding: 2em;
    border-radius: 1.75rem;
    background: linear-gradient(hsl(213, 19%, 15%),hsl(216, 12%, 12%))
    ;
}

#Rating_State {
    display: block;
}

#Thank_You_State {
    display:none; 
    text-align: center;
}

.resultText {
    height: 2em;
    width: fit-content;
    padding: 0 1em;
    display:grid;
    place-content: center;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 18%);
    border-radius: 1em;
    margin: 1.5em auto;
    
}